{{> header}}
<div class="index">
<h1>{{metadata.title}}</h1>
{{{content}}}
<h2>Posts</h2>
<ul>
{{#each metadata.posts}}
<li>
<span class="date">{{this}}</span>
</br>
<a class="title" href="{{this}}">{{this}}</a>
</li>
{{/each}}
</ul>
</div>
{{> footer}}
